<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <h1>vue-to do list</h1>
    </header>
    <main>
        <div id="container">
            <form @submit.prevent="addTodo()">
                <input type="text" placeholder="Cosa vuoi o devi fare?" v-model="target" required>
                <button type="submit">Add</button>
            </form>
            <ul v-if="todo.length > 0">
                <li class="todo" v-for="(elm, index) in todo"> 
                    <div :class="{done : elm.done}" @click="elm.done = !elm.done">{{elm.text}}</div>
                    <i v-if="!elm.done" class="fa-solid fa-xmark red" @click="removeTodo(index)"></i>
                    <i v-else class="fa-solid fa-check green" @click="removeTodo(index)"></i>
                </li>
            </ul>
            <p v-else>Wow! Sembra tu non debba fare nulla ;)</p>
        </div>
    </main>
    <script src="main.js"></script>
</body>
</html>